/* Estilos para el header */
header {
    background-color: #2ec9b4; /* Color de fondo del header */
    color: #eb682b; /* Color del texto */
    padding: 20px; /* Espaciado interno */
  }
.filtro{
    justify-content: right;
    display: flex;
    align-items: center;
}
li{
    margin:5px
}
.grande {
    min-width: 400px; /* Ajusta el tamaño del desplegable según sea necesario */
}