/* Estilos para el header */
header {
    background-color: #078CDB; 
    color: #FE8014; 
    padding: 20px; 
  }
.filtro{
    justify-content: right;
    display: flex;
    align-items: center;
}
li{
    margin:5px
}
.grande {
    min-width: 400px; 
}