/* Estilos para el header */
.margen{
  margin-top: 40px;
}
  
.card{
  width: 200px;
}

img{
  /* height: 320px;
  width: 320px; */
}

a {
  text-decoration: none; /* Elimina la subrayado de todos los enlaces */
  color: inherit; /* Toma el color del texto heredado */
  /* Otros estilos que deseas eliminar */
}
.botonera{
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin-top: 20px;
  background-color: #078CDB; 
  color: #FE8014; 
  font-weight: bold;
  padding: 20px;
}
.paginanumber{

font-size: 30px;


}

main button{
  padding: 20px;
  background-color: #FE8014;
  width: 170px;
}