/* Estilos para el header */
.margen{
  margin-top: 40px;
}
  
.card{
  width: 200px;
}

img{
  /* height: 320px;
  width: 320px; */
}

a {
  text-decoration: none; /* Elimina la subrayado de todos los enlaces */
  color: inherit; /* Toma el color del texto heredado */
  /* Otros estilos que deseas eliminar */
}